<h1>Dosya Yükleme Formu</h1>
<div class="card flex justify-content-center">
  <p-toast></p-toast>
  <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)" [multiple]="true" accept="image/*" [maxFileSize]="1000000000">
      <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
          </ul>
      </ng-template>
  </p-fileUpload>
</div>

<p-button label="Yükle" (onClick)="upload()"></p-button>

