<div class="container mt-4">
  <div class="row">
    <div class="col-9">
      <button class="btn btn-dark" (click)="sendEmail()">Seçililere Mail Gönder</button>
    </div>
    <div class="col-3">
      <input type="text" (keyup)="searchFromList()" class="form-control" placeholder="Aranacak değer..." [(ngModel)]="search">
    </div>
  </div>
  
  <div class="row overflow-auto">
    <table style="transform: scaleX(0.9);" class="table table-hover table-bordered mt-2">
      <thead>
        <tr>
          <th>Seçim</th>
          <th>#</th>
          <th>Name</th>   
          <th>LastName</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Country</th>
          <th>City</th>
          <th>Postal Code</th>
          <th>Full Address</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        @for (user of users; track user) {
          <tr>
            <td class="text-center">
              <input (change)="selectOrUnselect(user.id)" type="checkbox">
            </td>
            <td>{{((this.selectedPage - 1) * 5) + $index + 1}}</td>
            <td [title]="user.name">{{user.name}}</td>
            <td [title]="user.lastname">{{user.lastname}}</td>
            <td [title]="user.email">{{user.email}}</td>
            <td [title]="user.phoneNumber">{{user.phoneNumber}}</td>
            <td [title]="user.country">{{user.country}}</td>
            <td [title]="user.city">{{user.city}}</td>
            <td [title]="user.postalCode">{{user.postalCode}}</td>
            <td [title]="user.fullAddress">{{user.fullAddress}}</td>
            <td>
              <button  class="btn btn-sm btn-outline-warning">Update</button>
              <br>
              <button (click)="removeById(user.id)" class="btn btn-sm btn-outline-danger mt-1">Remove</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-center gap-5">
    <span class="alert alert-danger">
      {{totalCount}}
    </span>
    <nav aria-label="...">
      <ul class="pagination">
        @if(selectedPage !== 1){
          <li class="page-item">
            <a class="page-link" (click)="changePage(selectedPage -1)">Önceki</a>
          </li>
        }        
        @if(selectedPage -3 > 1){
          <li class="page-item" [ngClass]="pageCount === 1 ? 'active' : ''">
            <a class="page-link" (click)="changePage(1)">
             İlk
            </a>
          </li> 
        }
       
        @for(number of pageNumbers; track number){
          <li class="page-item" [ngClass]="number === selectedPage ? 'active' : ''">
            <a class="page-link" (click)="changePage(number)">
              {{number}}
            </a>
          </li>      
        }  
        <li class="page-item" [ngClass]="pageCount === selectedPage ? 'active' : ''">
          <a class="page-link" (click)="changePage(pageCount)">
           {{pageCount}}
          </a>
        </li>  
        @if(selectedPage !== pageCount){
          <li class="page-item">
            <a class="page-link" (click)="changePage(selectedPage +1)">Sonraki</a>
          </li>
        } 
      </ul>
    </nav>
  </div>
  
 
</div>