<app-blank pageTitle="About Page" [navs]="['Home', 'About']">
  <app-section [sectionTitle]="'About Page List'">
    <h1>Title</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam illo
      fuga laudantium aperiam odio quisquam unde harum inventore atque labore
      dignissimos voluptatibus, obcaecati distinctio doloremque? Magnam
      voluptatum tempore itaque eveniet!
    </p>


    <ng-container id="footer">
      <h1>Footer</h1>
    </ng-container>
  </app-section>

  <app-section>
    <ng-container id="footer">
      <h1>Footer</h1>
    </ng-container>
  </app-section>
</app-blank>
